registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
link-workspace-packages=true
prefer-workspace-packages=true
network-timeout=300000
fetch-retries=10 