.App {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: calc(100vh - 80px);
  max-width: min(1600px, 90vw);
  margin: 40px auto;
  padding-block: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-lg);
  background-color: #fff; /* TODO: lightdark */
  box-shadow: var(--mantine-shadow-sm);
}

.Main {
  padding: var(--mantine-spacing-xl);
  overflow-y: auto;
  flex-grow: 1;
}

@media (max-width: $mantine-breakpoint-md) {
  .App {
    flex-direction: column;
    height: calc(100vh - 40px);
    padding-block: var(--mantine-spacing-md);
    margin: 20px auto;
  }
  .Main {
    padding: 0 var(--mantine-spacing-lg);
  }
}
