body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: light-dark(#f0f0f0, var(--mantine-color-dark-9));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root [data-variant='danger'] {
  background-color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-9));
  color: var(--mantine-color-red-0);

  &:hover {
    background-color: light-dark(var(--mantine-color-red-9), var(--mantine-color-red-8));
  }
}
