.Calendar {
  --border-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-7));
  width: 100%;
  margin: auto;
  border: 1px solid var(--border-color);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.CalendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-xs);
  border-bottom: 1px solid var(--border-color);
}

.CalendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.CalendarDate {
  padding: var(--mantine-spacing-xs);
  border: 1px solid var(--border-color);
  min-height: 150px;
}

.CalendarDay {
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 2px;
}

.CalendarEvent {
  text-align: center;
}

.CalendarDateToday {
  background-color: var(--mantine-color-kobuddy-light);
  font-weight: bold;
  border: 1px solid var(--mantine-color-kobuddy-light-color);
}

.CalendarDateDisabled {
  color: var(--mantine-color-gray-5);
}
