.CardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: var(--mantine-spacing-lg);
}

.Card {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

  .CardDetails {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    background: light-dark(rgba(255, 255, 255, 0.85), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: -100px;
    opacity: 0;
    padding-block: var(--mantine-spacing-lg);

    transition:
      opacity 300ms ease,
      bottom 300ms ease;

    &.Small {
      padding-block: var(--mantine-spacing-xs);
    }
  }

  &:hover .CardDetails {
    opacity: 1;
    bottom: 0;
  }
}

.Attribute {
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-6));
}

.BookHiddenIndicator {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 8px;
  color: var(--mantine-color-koinsight-light-color);
}

.BookHidden {
  filter: grayscale(100%);
  filter: brightness(0.3);
}
